.card-body{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  margin: 10px 10px;
  box-shadow: 4px -1px 8px -1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 4px -1px 8px -1px rgba(0,0,0,0.25);
  -moz-box-shadow: 4px -1px 8px -1px rgba(0,0,0,0.25);
}